{% extends 'reservationhub/base.html' %}

{% block content %}
<canvas id="trajetsChart" width="300" height="300"></canvas>


<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script>
    // Function to load chart data via AJAX
    function loadChart(chart, endpoint) {
        $.ajax({
            url: endpoint,
            type: "GET",
            dataType: "json",
            success: (jsonResponse) => {
                const title = jsonResponse.title;
                const labels = jsonResponse.data.labels;
                const datasets = jsonResponse.data.datasets;

                // Reset the current chart
                chart.data.datasets = [];
                chart.data.labels = [];

                // Load new data into the chart
                chart.options.title.text = title;
                chart.options.title.display = true;
                chart.data.labels = labels;
                datasets.forEach(dataset => {
                    chart.data.datasets.push(dataset);
                });
                chart.update();
            },
            error: () => console.log("Failed to fetch chart data from " + endpoint + "!")
        });
    }

    // Initialize chart

    let trajetsCtx = document.getElementById("trajetsChart").getContext("2d");
    let trajetsChart = new Chart(trajetsCtx, {
        type: "bar",
        options: {
            responsive: true,
            title: {
                display: false,
                text: ""
            }
        }
    });

    // Call loadChart function to load initial data
    loadChart(trajetsChart, "{% url 'reservationhub:get_charts_trajet' numero_trajet%}" );
</script>

{% endblock %}
