<!DOCTYPE html>
{%extends 'reservationhub/base.html'%}
<html lang="fr">
{%block content%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Créer un passager</title>
</head>
<body>
    <h1>Créer un passager</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Créer</button>
        <a href="{% url 'reservationhub:trajets' %}" class="btn btn-primary">Annuler</a>
    </form>
</body>
{%endblock%}
</html>