<!DOCTYPE html>
{%extends 'reservationhub/base.html'%}

{% block content%}

<html lang="fr">
{%block content%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Édition de réservation</title>
</head>
<body>
    <h1>Réserver</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'reservationhub:creer_passager' %}" class="btn btn-primary">Créer un passager</a>
        <br><br>
        <input type="hidden" name="trajet_id" value="{{ trajet.id }}">
        <input type="hidden" name="utilisateur" value="{{ request.user.client.id }}">
        <button type="submit" class="btn btn-success">Réserver</button>
        <a href="{% url 'reservationhub:trajets' %}" class="btn btn-secondary">Annuler</a>
    </form>
</body>
{%endblock%}
</html>

{%endblock%}
