<!DOCTYPE html>
{%extends 'reservationhub/base.html'%}
<html lang="fr">
{% block content%}

    <a href="{% url 'reservationhub:accueil' %}" style="position: absolute; top: 10px; right: 10px;">Se déconnecter</a>
    <h1>Mes Réservations</h1>
    <ul>
        {% for reservation in reservations %}
            <li>
                Réservation {{ reservation.numero_reservation }} :
                <ul>
                    <li>Date de réservation : {{ reservation.date_reservation }}</li>
                    <li>Place réservée : {{ reservation.numero_place }}</li>
                    <li>Passager : {{ reservation.passager }}</li>
                    <li>Gare de départ : {{ reservation.trajet.gare_depart }}</li>
                    <li>Gare d'arrivée : {{ reservation.trajet.gare_arrivee }}</li>
                    <li>Date et heure de départ : {{ reservation.trajet.date_heure_depart }}</li>
                    <li>Date et heure d'arrivée : {{ reservation.trajet.date_heure_arrivee }}</li>
                </ul>
                <a href="{% url 'reservationhub:modifier_reservation' reservation.id %}" class="modifier-reservation-button">Modifier la réservation</a>
            </li>
        {% empty %}
            <li>Aucune réservation trouvée.</li>
        {% endfor %}
    </ul>
    <a href="{% url 'reservationhub:trajets' %}" class="reservations-button" style="margin-top: 20px; display: inline-block;">Faire une réservation</a>
    <br><br>
    <a href="{% url 'reservationhub:accueil_connecte' %}" class="reservations-button" style="margin-top: 20px; display: inline-block;">Revenir à la page d'accueil</a>
{%endblock%}
</html>

